*{
    font-family: sans-serif;
}

h1{
   color: #ffe7aa;
   font-size: 40px;
   font-weight: bold;
}

h3{
    color: #ffe7aa;
    font-size: 25px;
    margin: 0;
}
body{
    margin:0;
    padding: 0;
}
  
#mobile-nav{
    position: relative;
    height: 70px;
    width: 100%;
    background-color: #0d2f81;
    color: white;
    display: flex;
    align-items: center;
}



#mobile-nav img{
    margin-left: 31.25px;
    color: white;
    flex-grow: 0;
}

#mobile-nav-right-container{
    height: 20px;
    overflow: hidden;
    flex-grow: 1;
}

#mobile-nav-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#hamburger{
    font-size: 20px;
    margin-right: 31.25px;
    
}

#Sign-In{
    height: 20px;
    margin-right: 20px;
    
}

#intro{
    background-color:#0d2f81;
    padding: 20px 31.25px 0 31.25px;
}

#intro p{
    color: white;
    line-height: 25px;
}

#Sign-Up-Button{
    width: 120.25px;
    height: 27.6px;
    background-color: white;
    color: black;
    padding: 8px 50px;
    display: block;
    margin-top: 30px;
    line-height: 27.6px;
    font-size: 16px;

}

#intro-image-flex-container{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #0d2f81;
    position: relative;
}

#intro-image-container{
    flex-grow: 1;
    margin: 30px 31.25px;
    z-index: 2;
    position: relative;
}

#intro-image-container img{
    max-width: 100%;
    height: auto;
    z-index: 2;
    position: relative;
}

#beige-half{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: #ffe7aa;
    z-index: 0;
}

#busywork{
    background-color:#ffe7aa;
    padding: 0 31.25px 0 31.25px;
}

#busywork h3{
    color: #0d2f81;
}

#busywork p{
    line-height: 26px;
    padding-bottom: 70px;
}

