*{
    font-family: sans-serif;
}

h1{
   color: #ffe7aa;
   font-size: 50px;
   font-weight: bold;
   margin: 0;
}

h3{
    color: #ffe7aa;
    font-size: 25px;
    margin: 0;
}
body{
    margin:0;
    padding: 0;
}
  
#mobile-nav{
    position: relative;
    height: 70px;
    width: 100%;
    background-color: #0d2f81;
    color: white;
    display: flex;
    align-items: center;
}



#mobile-nav img{
    margin-left: 31.25px;
    color: white;
    flex-grow: 0;
}

#mobile-nav-right-container{
    height: 20px;
    overflow: hidden;
    flex-grow: 1;
}

#mobile-nav-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#hamburger{
    font-size: 20px;
    margin-right: 31.25px;
    
}

#Sign-In{
    height: 20px;
    margin-right: 20px;
    
}

#intro{
    background-color:#0d2f81;
    padding: 20px 31.25px 0 31.25px;
}

#intro h3{
margin-bottom: 20px;
}

#intro p{
    color: white;
    line-height: 25px;
}

.button{
    height: 27.6px;
    background-color: white;
    color: black;
    padding: 8px 50px;
    display: inline-block;
    margin-top: 30px;
    line-height: 27.6px;
    font-size: 16px;

}

#intro-image-flex-container{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #0d2f81;
    position: relative;
}

#intro-image-container{
    flex-grow: 1;
    margin: 30px 31.25px;
    z-index: 2;
    position: relative;
}

#intro-image-container img{
    max-width: 100%;
    height: auto;
    z-index: 2;
    position: relative;
}

#beige-half{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: #ffe7aa;
    z-index: 0;
}

#busywork{
    background-color:#ffe7aa;
    padding: 0 31.25px 0 31.25px;
}

#busywork h3{
    color: #0d2f81;
}

#busywork p{
    line-height: 26px;
    padding-bottom: 70px;
    margin-bottom: 0;
}

#ui-explainers{
    background-color: #0d2f81;
}

#file-storage-and-sharing{
    padding: 30px 31.25px;
}

.product-tour-descriptions{
    padding: 0 31.25px 30px 31.25px;
    color: white;
    font-size: 16px; 
}

.product-tour-descriptions h3{
    color: white;
}

.ui-image-container{
    display: flex; 
    max-width: 780px;
    height: auto;
    align-items: center;
    margin-bottom: 30px;
}

.ui-image-container img{
    flex-grow: 1;
    height: auto; 
    max-width: 100%;
}

#ui-explainer-end-line-container{
    padding: 70px 31.25px 30px 31.25px;
}

#ui-explainer-end-line{
    width: 100%; 
    border-bottom: 1px solid grey;

}

#call-to-action{
    background-color:#0d2f81;
    padding: 100px 31.25px;
}

#call-to-action h3{
    color: #ffe7aa;
    
}

#dropbox-options{
    padding: 100px 31.25px;
}

#dropbox-options h1, #dropbox-options h3{
    padding: 15px 0;
    color: black;
}

#dropbox-options .button{
    background-color: #0061ff;
    color: white;
    margin: 0;
}
#footer-container{
    width: 100%;
}

footer{
    padding-top: 30px;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}



.footer-group-list-items{
    margin: 0;
    display: block;
    padding-bottom: 44px;
    width: 142.6px;
    flex-grow: 1; 
    flex-basis: 35%;   
    
}

.footer-lists{
    padding: 0;
}

.footer-group-headings{
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 12px;
}

footer li{
    list-style-type: none;
    padding: 6px 0;
    font-size: 14px;
}




